.stowrc
**/tmux_history
nvim/.config/nvim/plugin/
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/tmp/*
nvim/.config/nvim/plugged/*
nvim/.config/nvim/autoload/*
utils/.local/share/nvim/*
qtile/.config/qtile/__pycache__/*
utils/.local/share/fonts/*
**/__init__.py
**/__pycache__/
utils/.local/share/bin/
utils/.local/share/lesshst
utils/.local/share/ranger/
utils/.local/share/recently-used.xbel
utils/.local/share/xorg/
utils/.local/share/zathura/
utils/.local/share/zoxide/
utils/.local/share/gvfs-metadata/
utils/.local/share/meld/
emacs/.emacs.d/elpa/
emacs/.emacs.d/org-roam.db
emacs/.emacs.d/places
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/recentf
emacs/.emacs.d/transient/
emacs/.emacs.d/backup
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/elfeed/
emacs/.emacs.d/eshell/history
emacs/.emacs.d/eshell/lastdir
emacs/.emacs.d/url/
emacs/.emacs.d/eln-cache
tmux/.config/tmux/plugins/
**/fish/.config/fish/completions/
**/fish/.config/fish/conf.d/
**/fish/.config/fish/functions/
**/fish/.config/fish/themes/
**/fish/.config/fish/fish_plugins
**/fish/.config/fish/fish_variables
