!! Xft settings
XCursor.size:48
XCursor.theme: Arc-Dark
Xft*dpi: 192
rofi.dpi: 1

! These might also be useful depending on your monitor and personal preference:
*.antialias: true
*.hinting: true
*.autohint: true
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault

!! Colorscheme

! special
URxvt.background: #24273A
URxvt.foreground: #CAD3F5
URxvt.cursorColor: #F4DBD6

! black
URxvt.color0: #494D64
URxvt.color8: #5B6078

! red
URxvt.color1: #ED8796
URxvt.color9: #ED8796

! green
URxvt.color2: #A6DA95
URxvt.color10: #A6DA95

! yellow
URxvt.color3: #EED49F
URxvt.color11: #EED49F

! blue
URxvt.color4: #8AADF4
URxvt.color12: #8AADF4

! magenta
URxvt.color5: #F5BDE6
URxvt.color13: #F5BDE6

! cyan
URxvt.color6: #8BD5CA
URxvt.color14: #8BD5CA

! white
URxvt.color7: #B8C0E0
URxvt.color15: #A5ADCB

!! URxvt Appearance
URxvt.letterSpace: -1
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false
URxvt.iso14755_52: false

!! URxvt Appearance
URxvt.font: xft:JetBrainsMono\ Nerd\ Font:style=Regular:size=11:antialias=true,xft:Iosevka:size=11:hinting=true,xft:Dejavu Sans:size=11:hinting=true,-*-unifont-*-*-*-*-*-*-*-*-*-*-*-*
URxvt.boldFont: xft:JetBrainsMono\ Nerd\ Font:style=Bold:size=11:antialias=true,xft:Iosevka:size=11:hinting=true,xft:Dejavu Sans:size=11:hinting=true,-*-unifont-*-*-*-*-*-*-*-*-*-*-*-*
URxvt.italicFont: xft:JetBrainsMono\ Nerd\ Font:style=Italic:size=11:antialias=true,xft:Iosevka:size=11:hinting=true,xft:Dejavu Sans:size=11:hinting=true,-*-unifont-*-*-*-*-*-*-*-*-*-*-*-*
URxvt.boldItalicFont: xft:JetBrainsMono\ Nerd\ Font:style=Bold Italic:size=11:antialias=true,xft:Iosevka:size=11:hinting=true,xft:Dejavu Sans:size=11:hinting=true,-*-unifont-*-*-*-*-*-*-*-*-*-*-*-*
URxvt.transparent: false
URxvt.shading: 30

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,keyboard-select,ibeamcursor
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1

